<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contract Manager</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/login-register.css">
    <script src="/js/register.js"></script>
</head>
<body>

<form class="bg-register-login register-container" id="registerForm" action="/register" method="POST">
    <h1 class="black">Register</h1>
         <div class="form-label">
            <input type="text" placeholder="First name" name="username" value="{{#if formData.username}}{{formData.username}}{{/if}}">    
            <input type="text" placeholder="Last name" name="usersurname" value="{{#if formData.usersurname}}{{formData.usersurname}}{{/if}}">
        </div>

        <div class="form-label">
            <input type="email" placeholder="Your email here" name="email" value="{{#if formData.email}}{{formData.email}}{{/if}}">
            <input type="email" placeholder="Repeat your email" name="repeatemail" value="{{#if formData.repeatemail}}{{formData.repeatemail}}{{/if}}">
        </div>

        <div class="form-label">
            <input type="password" placeholder="Introduce a password" name="password" value="{{#if formData.password}}{{formData.password}}{{/if}}">
            <input type="password" placeholder="Repeat your password" name="repeatedpassword" value="{{#if formData.repeatedpassword}}{{formData.repeatedpassword}}{{/if}}">
        </div>

        <div class="select">
            <select name="role"  value="{{#if formData.role}}{{formData.role}}{{/if}}">
                <option hidden selected>Select your Role and Department</option>
                <option value="comercial-autorizado">Comercial - Autorizado</option>
                <option value="comercial-director">Comercial - Director</option>
                <option value="control-de-riesgos-autorizado">Control de Riesgos - Autorizado</option>
                <option value="control-de-riesgos-director">Control de Riesgos - Director</option>
                <option value="operaciones-autorizado">Operaciones - Autorizado</option>
                <option value="operaciones-director">Operaciones - Director</option>
                <option value="prl-autorizado">PRL - Autorizado</option>
                <option value="prl-director">PRL - Director</option>
            </select>
        </div>

    <p class="underline-link forgot-password"  id ="addRoleSelectorBtn" onclick="addRoleSelectorBtn()">Add more roles/departments</p>
    <button class="btn btn-blue" type="submit">Create Account</button>
    
    {{#if formData.errorMsg}}
    <div class="error-message">
        <ul>
            {{#each formData.errorMsg}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    {{/if}}

    {{#if formData.succesMsg}}
    <div class="success-message">{{formData.succesMsg}}</div>
    <a href="/">Go to Login</a>
    {{/if}}
    
    <!-- register section -->
    <div class="devided-block">
        <div class="devided"></div>
        <span>or</span>
        <div class="devided"></div>
    </div>

        <a class="create-account-link" href="/">Go to Login</a>

</form>
<script>
    function addRoleSelectorBtn(){
     
    addbtn = document.getElementById("addRoleSelectorBtn")
    registerForm = document.getElementById("registerForm")
    selector = document.getElementsByClassName("select")[0]
    console.log(selector)
    console.log(addbtn);
    console.log(registerForm);
    var selector=registerForm.insertBefore(selector,addbtn)
    //registerForm.insertBefore(selector,addbtn)
}
</script>
</body>
</html>