<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="icon"   href="/images/icons/favicon.png" type="image/png" />
    <title>Contract Manager</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/login-register.css">
    <script src="/js/register.js"></script>
</head>
<body>

<form class="bg-register-login register-container register" action="/contractmanager/register" method="POST" id="registerForm">
    <h1 class="black">Register</h1>
         <div class="form-label">
            <input type="text" placeholder="First name" name="username" value="{{#if formData.username}}{{formData.username}}{{/if}}">    
            <input type="text" placeholder="Last name" name="usersurname" value="{{#if formData.usersurname}}{{formData.usersurname}}{{/if}}">
        </div>

        <div class="form-label">
            <input type="email" placeholder="Your email here" name="email" value="{{#if formData.email}}{{formData.email}}{{/if}}">
            <input type="email" placeholder="Repeat your email" name="repeatemail" value="{{#if formData.repeatemail}}{{formData.repeatemail}}{{/if}}">
        </div>

        <div class="form-label">
            <input type="password" placeholder="Introduce a password" name="password" value="{{#if formData.password}}{{formData.password}}{{/if}}">
            <input type="password" placeholder="Repeat your password" name="repeatedpassword" value="{{#if formData.repeatedpassword}}{{formData.repeatedpassword}}{{/if}}">
        </div>

        <div class="select select-register">
            <select name="role"  value="{{#if formData.role}}{{formData.role}}{{/if}}">
                <option hidden selected>Select your Role and Department</option>
                <option value="Comercial - Autorizado">Comercial - Autorizado</option>
                <option value="Comercial - Director">Comercial - Director</option>
                <option value="Control de Riesgos - Autorizado">Control de Riesgos - Autorizado</option>
                <option value="Control de Riesgos - Director">Control de Riesgos - Director</option>
                <option value="Operaciones - Autorizado">Operaciones - Autorizado</option>
                <option value="Operaciones - Director">Operaciones - Director</option>
                <option value="PRL - Autorizado">PRL - Autorizado</option>
                <option value="PRL - Director">PRL - Director</option>
                <option value="Dirección General">Dirección General </option>
            </select>
        </div>

    <p id="addRoleSelectorBtn" class="underline-link forgot-password"  onclick="addRoleSelectorBtn(this)">Add more roles/departments</p>
    <button class="btn btn-blue" type="submit">Create Account</button>
    
    {{#if formData.errorMsg}}
    <div class="error-message">
        <ul>
            {{#each formData.errorMsg}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    {{/if}}

    {{#if formData.succesMsg}}
    <div class="success-message">{{formData.succesMsg}}</div>
    <a href="/">Go to Login</a>
    {{/if}}
    
    <!-- register section -->
    <div class="devided-block">
        <div class="devided"></div>
        <span>or</span>
        <div class="devided"></div>
    </div>

        <a class="create-account-link" href="/contractmanager/">Go to Login</a>

</form>

<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<script>
    function addRoleSelectorBtn(){
        addbtn = document.getElementById("addRoleSelectorBtn")
        registerForm = document.getElementById("registerForm")
        selector = document.getElementsByClassName("select")[0]
        numRoles = document.getElementsByClassName("select").length
        selectorClonado = selector.cloneNode(true)
        if (numRoles<5){
            selectorClonado.children[0].name="role"+numRoles
            console.log(numRoles)
            registerForm.insertBefore(selectorClonado,addbtn)
        }
}
</script>
</body>
</html>