        <div class="second-nav">
            <ul>
                <li><a href="/" class="link-nav ">Contracts</a></li>
                <li><a href="/alertsContracts" class="link-nav link-nav-active">Alerts</a></li>
                <li><span><a href="" class="disabled">Indicators</a></span></li>
                <li><span><a href="" class="disabled">Permissions</a></span></li>
            </ul>
        </div>

<div class="alertas-container">
    <div class="nav-alertas">
        <h2>Alerts configuration</h2>
    </div>
    {{#if notice.successMsg}}
        <div class="success-message">
            <span class="closeBtn" onclick="closeMssgPanel(this.parentElement)">&times;</span>
            {{notice.successMsg}}
        </div>
    {{/if}}
    {{#if notice.errorMsg}}
        <div class="error-message">
            <span class="closeBtn" onclick="closeMssgPanel(this.parentElement)">&times;</span>
            {{notice.errorMsg}}
        </div>
    {{/if}}
    
    <div class="alertsContainer">
        <div class="second-nav-alerts">
            <div id="myDIV" class="departments-alerts-btn">
                <button id="newContract" class="btn department-btn" onclick="btnSelected(this)">New Contract</button>
                <button id="reject" class="btn department-btn " onclick="btnSelected(this)">Reject Contract</button>
                <button id="update" class="btn department-btn" onclick="btnSelected(this)" style="display:none;">Update Contract</button>
                {{!-- <button id="approve" class="btn department-btn" onclick="btnSelected(this)">Approve Contract</button> --}}
                <button id="reminder" class="btn department-btn" onclick="btnSelected(this)" style="display:none;">Reminders</button>
                <button id="escaladoDirectores" class="btn department-btn" onclick="btnSelected(this)">Escalado Directores</button>
                <button id="escaladoDG" class="btn department-btn" onclick="btnSelected(this)">Dirección General</button>
            </div>
        </div>
        <div class="mess-container1">
        {{#each notice}}
        <div class="mess-container" id="notice-type-{{noticeType}}">
            <form class="form-alertas" action="/updateAlerts/{{noticeType}}" method="post">
                <input id="email-list" type="email" placeholder="For:" name="email" value="{{destinatario}}" multiple>
                <input type="email" placeholder="Cc:" name="cc" value="{{cc}}" multiple>
                {{!-- <input type="text" placeholder="Subject:" name="subject" value="{{subject}}">
                <textarea placeholder="Message...." rows ="10" name="emailBody" >{{emailBody}}</textarea> --}}
                <button class="btn btn-blue btn-save" type="submit">Save</button>
            </form>
        </div>
        {{/each}}
        </div>
    </div>
</div>

<script>
    
function btnSelected(currentBtn){
    let id = currentBtn.id
    console.log("ID:",id)
    let form = document.getElementById("notice-type-"+id)
        console.log("Form To Show:",form)

    let buttons = document.getElementsByClassName("department-btn")
        console.log("All Buttons:",buttons)

    let forms = document.getElementsByClassName("mess-container")
        console.log("All Forms:",forms)

    for (i=0;i<buttons.length;i++){
        buttons[i].classList.remove("btn-blue")
        forms[i].style.display="none"
    }
    currentBtn.classList.add("btn-blue")
    form.style.display="flex"
}



//CLOSE MESSAGES BTN
function closeMssgPanel(element){
    console.log(element)
    console.log(element.parentElement)
    //let mssg = document.getElementById('mssg1');
    element.style.display="none";
}
//Btn Alerts Show Correct Form



//Active Btn Nav
var header = document.getElementById("second-nav");
var btns = header.getElementsByClassName("link-nav");
for (var i = 0; i < btns.length; i++) {
btns[i].addEventListener("click", function() {
var current = document.getElementsByClassName("link-nav-active");
current[0].className = current[0].className.replace(" link-nav-active", "");
this.className += " link-nav-active";
});
}
</script>
