        <div class="second-nav">
            <ul>
                <li><a href="/" class="link-nav ">Contracts</a></li>
                <li><a href="/alertsContracts" class="link-nav link-nav-active">Alerts</a></li>
                <li><span><a href="" class="disabled">Indicators</a></span></li>
                <li><span><a href="" class="disabled">Permissions</a></span></li>
            </ul>
        </div>

<div class="alertas-container">
    <div class="nav-alertas">
        <h2>Alerts configuration</h2>
    </div>
    {{#if successMsg}}
    <div class="success-message">{{successMsg}}</div>
    {{/if}}
    <div class="alertsContainer">
        <div class="second-nav-alerts">
            <div id="myDIV" class="departments-alerts-btn">
                <button id="newContract" class="btn department-btn" onclick="btnSelected(this)">New Contract</button>
                <button id="reject" class="btn department-btn " onclick="btnSelected(this)">Reject Contract</button>
                <button id="update" class="btn department-btn" onclick="btnSelected(this)">Update Contract</button>
                {{!-- <button id="approve" class="btn department-btn" onclick="btnSelected(this)">Approve Contract</button> --}}
                <button id="reminder" class="btn department-btn" onclick="btnSelected(this)">Reminders</button>
                <button id="escalado" class="btn department-btn" onclick="btnSelected(this)">Escalado</button>
            </div>
        </div>
        {{#each notice}}
        <div class="mess-container" id="notice-type-{{noticeType}}">
            <form class="form-alertas" action="/updateAlerts/{{noticeType}}" method="post">
                <input id="email-list" type="text" placeholder="For:" name="email" value="{{destinatario}}">
                <input type="text" placeholder="Cc:" name="cc" value="{{cc}}">
                <input type="text" placeholder="Subject:" name="subject" value="{{subject}}">
                <textarea placeholder="Message...." rows ="10" name="emailBody" >{{emailBody}}</textarea>
                <button class="btn btn-blue btn-save" type="submit">Save</button>
            </form>
        </div>
        {{/each}}
    </div>
</div>

<script>
    
function btnSelected(currentBtn){
    let id = currentBtn.id
    console.log(id)
    let form = document.getElementById("notice-type-"+id)
        console.log(form)

    let buttons = document.getElementsByClassName("department-btn")
        console.log(buttons)

    let forms = document.getElementsByClassName("mess-container")
        console.log(forms)

    for (i=0;i<buttons.length;i++){
        buttons[i].classList.remove("btn-blue")
        forms[i].style.display="none"
    }
    currentBtn.classList.add("btn-blue")
    form.style.display="flex"
}

//Btn Alerts Show Correct Form



//Active Btn Nav
var header = document.getElementById("second-nav");
var btns = header.getElementsByClassName("link-nav");
for (var i = 0; i < btns.length; i++) {
btns[i].addEventListener("click", function() {
var current = document.getElementsByClassName("link-nav-active");
current[0].className = current[0].className.replace(" link-nav-active", "");
this.className += " link-nav-active";
});
}




</script>
