 <div id="container">       
        <div class="second-nav">
            <ul>
                <li><a href="/" class="cool-link">Contracts</a></li>
                <li><a href="" class="cool-link">Alerts</a></li>
                <li><a href="" class="cool-link">Indicators</a></li>
                <li><a href="" class="cool-link">Permissions</a></li>
            </ul>
         
            <button id="add-btn" class="btn btn-blue">Add <span class="btn-add">contracts</span></button> 
        </div>

        <div class="add-contrat-messages">
                                {{#if errorMsg}}
                        <div class="error-message">
                            Los siguientes campos se encuentran vacíos en la hoja de firmas y se deben rellenar para dar de alta el contrato:
                            <ul>
                                {{#each errorMsg}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        </div>

                        {{else}}
                            {{#if noFileSelected}}
                                <div class="error-message">
                                    {{noFileSelected}}
                                </div>
                                {{else}}
                                    {{#if succesMsg}}
                                    <div class="success-message">{{succesMsg}}</div>
                                    {{/if}}
                            {{/if}}
                    {{/if}}
        </div>
        {{#if errorMsg}}
            <div class="error-message">
                <ul>
                    {{#each errorMsg}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>

            {{else}}
                {{#if noFileSelected}}
                    <div class="error-message">
                        {{noFileSelected}}
                    </div>
                    {{else}}
                        {{#if succesMsg}}
                        <div class="success-message">{{succesMsg}}</div>
                    {{!-- <a href="/">Go to Login</a> --}}
                        {{/if}}
                {{/if}}
        {{/if}}

<div class="contracts-container">
    <div class="title-container">
        <h2 class="blue" onclick="">Pending contracts</h2><h2 class="grey">/</h2><h2 class="grey" onclick="">Closed contracts</h2>
    </div>
 
    <div class="nav-contract">
        <div class="nav-contract-items">

            <table>
                <th>
                    <td>PQ</td>
                    <td>Amount</td>
                    <td>Commercial</td>
                    <td>Client</td>
                </th>
            </table>
        </div>
        <div class="nav-contract-actions">
            <table>
                <th>
                    <td>Accept</td>
                    <td>Reject</td>
                    <td>Delete</td>
                    <td>Edit</td>
                </th>
            </table>
        </div>
    </div>

{{!-- contracts cards here --}}
    <div class="cards">
            {{!-- {{#each ----}}
            {{!-- {{> contractCard this}} --}}
            {{!-- {{/each}} --}}

        <div class="contract-card">
        <div class="nav-contract-items">

            <table>
                <tr>
                    <td>{{pq}}</td>
                    <td>{{importe}}</td>
                    <td>{{comercial}}</td>
                    <td>{{cliente}}</td>
                </tr>
            </table>
        </div>
        <div class="nav-contract-actions">
            <table>
                <tr>
                    <td><img id="accept-btn" src="images/icons/approve.png" alt="accept"></td>
                    <td><img id="reject-btn" src="images/icons/reject.png" alt="reject"></td>
                    <td><img id="delete-btn" src="images/icons/delete-Icon.png" alt="delete"></td>
                    <td><img id="edit-btn" src="images/icons/edit.png" alt="edit"></td>
                </tr>
            </table>
        </div>
    </div>


    </div>
</div>
</div>

{{!-- popups --}}

{{!-- Add / create contracts --}}
<div id="addModal" class="modal">
        <div class="modal-content modal-blue">
            <span id="close-btn-add" class="close-btn">&times;</span>
                 <h2 class="blue">Upload files</h2>
               
                <form class="add-contracts-form" action="/uploadNewContractToDB" method="post" enctype="multipart/form-data">
                    <input id="file" class="upload-files" type="file" name="excelFile">
                    <label for="file">Please select the Excel file </label>
                    <p class="underline-link note-text">Your file must be in '.xlsx' format.</p>
                    <input id="otherFiles" class="upload-files" type="file" name="otherFiles" multiple>
                    <label for="otherFiles">Please select the rest of the files </label>
                    {{!-- <input type="file" name="otherFiles" multiple> --}}
                    <input class="create-contracts-btn" type="submit" value="Create Contract">
                    
                </form>
        </div>
</div>

{{!-- Accept contracts --}}
<div id="acceptModal" class="modal">
        <div class="modal-content modal-blue">
            <span id="close-btn-accept" class="close-btn">&times;</span>
                <h2 class="blue">Accept contract</h2>
                
                <div class="select select-box">
                    <select name="role"  value="{{#if formData.role}}{{formData.role}}{{/if}}">
                        <option hidden selected>Select your Role and Department</option>
                        <option value="comercial-autorizado">Comercial - Autorizado</option>
                        <option value="comercial-director">Comercial - Director</option>
                        <option value="control-de-riesgos-autorizado">Control de Riesgos - Autorizado</option>
                        <option value="control-de-riesgos-director">Control de Riesgos - Director</option>
                        <option value="operaciones-autorizado">Operaciones - Autorizado</option>
                        <option value="operaciones-director">Operaciones - Director</option>
                        <option value="prl-autorizado">PRL - Autorizado</option>
                        <option value="prl-director">PRL - Director</option>
                    </select>
                </div>

                <p class="text-popup">Do you want to approve the contract?</p>

                <div class="selectors-options">
                    <div class="accept">
                        <img src="images/icons/reject.png" alt="reject" onclick="">
                    </div>
                    <div class="reject">
                        <img src="images/icons/approve.png" alt="accept" onclick="">
                    </div>

                </div>
        </div>
</div>

{{!-- Reject contracts --}}
<div id="rejectModal" class="modal">
        <div class="modal-content modal-red">
            <span id="close-btn-reject" class="close-btn">&times;</span>
                <h2 class="red">Reject contract</h2>

                <div class="select select-box">
                    <select name="role"  value="{{#if formData.role}}{{formData.role}}{{/if}}">
                        <option hidden selected>Select your Role and Department</option>
                        <option value="comercial-autorizado">Comercial - Autorizado</option>
                        <option value="comercial-director">Comercial - Director</option>
                        <option value="control-de-riesgos-autorizado">Control de Riesgos - Autorizado</option>
                        <option value="control-de-riesgos-director">Control de Riesgos - Director</option>
                        <option value="operaciones-autorizado">Operaciones - Autorizado</option>
                        <option value="operaciones-director">Operaciones - Director</option>
                        <option value="prl-autorizado">PRL - Autorizado</option>
                        <option value="prl-director">PRL - Director</option>
                    </select>
                </div>

                <div class="select">
                    <select name="reason">
                        <option hidden selected>Select a reason</option>
                        <option value="">Comercial - Autorizado</option>
                        <option value="">Comercial - Director</option>
                        <option value="">Control de Riesgos - Autorizado</option>
                        <option value="">Control de Riesgos - Director</option>
                    </select>
                </div>
    
                <button class="btn btn-red">Reject</button> 

                
        </div>
</div>

{{!-- Delete contracts --}}
<div id="deleteModal" class="modal">
        <div class="modal-content modal-red">
            <span id="close-btn-delete" class="close-btn">&times;</span>
                <h2 class="red">Delete contract</h2>

                <p class="text-popup">Are you sure you wish to delete this file?</p>

                <div class="selectors-options">
                    <div class="accept">
                        <img src="images/icons/reject.png" alt="reject" onclick="">
                    </div>
                    <div class="reject">
                        <img src="images/icons/approve.png" alt="accept" onclick="">
                    </div>

                </div>
        </div>
</div>




<script>

/*CREATE CONTRACTS*/
var addModal = document.getElementById("addModal"); /*Ventana emergente*/
var addbtn = document.getElementById("add-btn"); /*Boton add contracts*/
var closebtnAdd = document.getElementById("close-btn-add");

var blurred = document.getElementById("container"); /*Blurred window*/

addbtn.onclick = function() {
  addModal.style.display = "block";
  blurred.classList.add('blurred');
}
closebtnAdd.onclick = function() {
  addModal.style.display = "none";
  blurred.classList.remove('blurred');
}

/*ACCEPT CONTRACTS*/
var acceptModal = document.getElementById("acceptModal"); /*Ventana emergente*/
var acceptbtn = document.getElementById("accept-btn"); /*Boton accept contracts*/
var closebtnAccept = document.getElementById("close-btn-accept");

acceptbtn.onclick = function() {
  acceptModal.style.display = "block";
  blurred.classList.add('blurred');
}
closebtnAccept.onclick = function() {
  acceptModal.style.display = "none";
  blurred.classList.remove('blurred');
}

/*REJECT CONTRACTS*/
var rejectModal = document.getElementById("rejectModal"); /*Ventana emergente*/
var rejectbtn = document.getElementById("reject-btn"); /*Boton reject contracts*/
var closebtnReject = document.getElementById("close-btn-reject");

rejectbtn.onclick = function() {
  rejectModal.style.display = "block";
  blurred.classList.add('blurred');
}
closebtnReject.onclick = function() {
  rejectModal.style.display = "none";
  blurred.classList.remove('blurred');
}

/*DELETE CONTRACTS*/
var deleteModal = document.getElementById("deleteModal"); /*Ventana emergente*/
var deletebtn = document.getElementById("delete-btn"); /*Boton delete contracts*/
var closebtnDelete = document.getElementById("close-btn-delete");

deletebtn.onclick = function() {
  deleteModal.style.display = "block";
  blurred.classList.add('blurred');
}
closebtnDelete.onclick = function() {
  deleteModal.style.display = "none";
  blurred.classList.remove('blurred');
}

</script>