 <div id="container">       
        <div class="second-nav">
            <ul>
                <li><a href="/" class="cool-link">Contracts</a></li>
                <li><a href="" class="cool-link">Alerts</a></li>
                <li><a href="" class="cool-link">Indicators</a></li>
                <li><a href="" class="cool-link">Permissions</a></li>
            </ul>
         
            <button id="add-btn" class="btn btn-blue">Add <span class="btn-add">contracts</span></button>
            
        </div>

<div class="contracts-container">
    <div class="title-container">
        <h2 class="blue" onclick="">Pending contracts</h2><h2 class="grey">/</h2><h2 class="grey" onclick="">Closed contracts</h2>
    </div>
 
    <div class="nav-contract">
        <div class="nav-contract-items">

            <table>
                <th>
                    <td>PQ</td>
                    <td>Amount</td>
                    <td>Commercial</td>
                    <td>Client</td>
                </th>
            </table>
        </div>
        <div class="nav-contract-actions">
            <table>
                <th>
                    <td>Accept</td>
                    <td>Reject</td>
                    <td>Delete</td>
                    <td>Edit</td>
                </th>
            </table>
        </div>
    </div>

{{!-- contracts cards here --}}
    <div class="cards">
            {{!-- {{#each ----}}
            {{!-- {{> contractCard this}} --}}
            {{!-- {{/each}} --}}

                <div class="contract-card">
        <div class="nav-contract-items">

            <table>
                <tr>
                    <td>{{pq}}</td>
                    <td>{{importe}}</td>
                    <td>{{comercial}}</td>
                    <td>{{cliente}}</td>
                </tr>
            </table>
        </div>
        <div class="nav-contract-actions">
            <table>
                <tr>
                    <td><img id="accept-btn" src="images/icons/approve.png" alt="accept"></td>
                    <td><img id="reject-btn" src="images/icons/reject.png" alt="reject"></td>
                    <td><img id="delete-btn" src="images/icons/delete-Icon.png" alt="delete"></td>
                    <td><img id="edit-btn" src="images/icons/edit.png" alt="edit"></td>
                </tr>
            </table>
        </div>
    </div>


    </div>
</div>
</div>

{{!-- popups --}}


<div id="addModal" class="modal">
        <div class="modal-content modal-blue">
            <span class="close-btn">&times;</span>
                 <h2 class="blue">Upload files</h2>
               
                <form class="add-contracts-form" action="/uploadNewContractToDB" method="post" enctype="multipart/form-data">
                    <input id="file" class="upload-files" type="file" name="excelFile">
                    <label for="file">Please select the Excel file </label>
                    <p class="underline-link note-text">Your file must be in '.xlsx' format.</p>
                    <input id="otherFiles" class="upload-files" type="file" name="otherFiles" multiple>
                    <label for="otherFiles">Please selectthe rest of the files </label>
                    {{!-- <input type="file" name="otherFiles" multiple> --}}
                    <input class="create-contracts-btn" type="submit" value="Create Contract">
                    {{#if errorMsg}}
                        <div class="error-message">
                            Los siguientes campos se encuentran vacíos en la hoja de firmas y se deben rellenar para dar de alta el contrato:
                            <ul>
                                {{#each errorMsg}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        </div>

                        {{else}}
                            {{#if noFileSelected}}
                                <div class="error-message">
                                    {{noFileSelected}}
                                </div>
                                {{else}}
                                    {{#if succesMsg}}
                                    <div class="success-message">{{succesMsg}}</div>
                                {{!-- <a href="/">Go to Login</a> --}}
                                    {{/if}}
                            {{/if}}
                    {{/if}}
                </form>
        </div>
</div>

<div id="deleteModal" class="modal">
        <div class="modal-content modal-blue">
            <span class="close-btn">&times;</span>
                 
        </div>
</div>




<script>

/*CREATE CONTRACTS*/
var modal = document.getElementById("addModal");

var addbtn = document.getElementById("add-btn");
/*var acceptbtn = document.getElementById("accept-btn");
var rejectbtn = document.getElementById("reject-btn");
var deletebtn = document.getElementById("delete-btn");*/

var blurred = document.getElementById("container");
var closebtn = document.querySelector(".close-btn");
addbtn.onclick = function() {
  modal.style.display = "block";
  blurred.classList.add('blurred');
}
closebtn.onclick = function() {
  modal.style.display = "none";
  blurred.classList.remove('blurred');
}

</script>
