

<div id="container">       
        <div class="second-nav">
            <ul>
                <li><a href="/" class="link-nav link-nav-active">Contracts</a></li>
                <li><a href="/alertsContracts" class="link-nav">Alerts</a></li>
                <li><span><a href="" class="disabled">Indicators</a></span></li>
                <li><span><a href="" class="disabled">Permissions</a></span></li>
            </ul>
        </div>


        {{#if errorMsg}}
            <div class="error-message">    
                <span class="close closeBtn" onclick="closeMssgPanel(this.parentElement)">&times;</span>
                <ul>     
                    {{#each errorMsg}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        
            {{else}}
                {{#if noFileSelected}}
                    <div class="mssg error-message">
                        <span class="closeBtn" onclick="closeMssgPanel(this.parentElement)">&times;</span>
                        {{noFileSelected}}
                    </div>

                    {{else}}
                        {{#if succesMsg}}
                            <div class="success-message">
                                <span class="closeBtn" onclick="closeMssgPanel(this.parentElement)">&times;</span>
                                 {{succesMsg}}
                            </div>
                    {{!-- <a href="/">Go to Login</a> --}}
                        {{/if}}
                {{/if}}
        {{/if}}



        {{#if formData.errorMsg}}
             <div class="error-message">
                 <span class="closeBtn" onclick="closeMssgPanel(this.parentElement)">&times;</span>
                    {{formData.errorMsg}}
            </div>
        {{/if}}
        {{#if formData.successMsg}}
            <div class="success-message">
                 <span class="closeBtn" onclick="closeMssgPanel(this.parentElement)">&times;</span>
                {{formData.successMsg}}
                </div>
        {{/if}}
        {{#if successMsg}}
            <div class="success-message">{{successMsg}}</div>
        {{/if}}



<div class="contracts-container">
    <div class="first-nav1">
    <div class="title-container">
        {{#if formData.showClosed}}
            <a href="/displayPendingContracts"><h2 class="grey">Pending contracts</h2></a><span><h2 class="grey">/</h2></span><a href="/displayClosedContracts"><h2 class="blue" >Closed contracts</h2></a>
        {{else}}
            <a href="/displayPendingContracts"><h2 class="blue">Pending contracts</h2></a><span><h2 class="grey">/</h2></span><a href="/displayClosedContracts"><h2 class="grey" >Closed contracts</h2></a>
        {{/if}}
    </div>
        <button id="add-btn" class="btn btn-blue" onclick="showAddNewContractModal()">Add <span class="btn-add">contracts</span></button> 
</div>
    <div class="nav-contract">
            <table class="nav-contract-items">
                <tr>
                    <td class="pq">PQ</td>
                    <td class="amount">Amount</td>
                    <td class="commercial">Commercial</td>
                    <td class="client">Client</td>   
                </tr>
            </table>
            <table class="nav-contract-actions">
                <tr>
                    <td class="celda-actions"{{#if formData.showClosed}}style="visibility:hidden;"{{/if}}>Accept</td>
                    <td class="celda-actions"{{#if formData.showClosed}}style="visibility:hidden;"{{/if}}>Reject</td>
                    <td class="celda-actions"{{#if formData.showClosed}}style="visibility:hidden;"{{/if}}>Delete</td>
                    <td class="celda-actions">View</td>
                </tr>
            </table>
    </div>

{{!-- contracts cards here --}}
    <div class="cards">
            {{#each formData.contractList}}
            <div class="contract-card">
                <table class="nav-contract-items1">
                    <tr>
                        <td class="pq"><span><strong>PQ:</strong> </span>{{pq}}</td>
                        <td class="amount"><span><strong>Amount: </strong></span>{{importe}}</td>
                        <td class="commercial">{{comercial}}</td>
                        <td class="client"><span><strong>Cliente: </strong></span>{{cliente}}</td>
                    </tr>
                    <tr class="client-responsive">
                        <td class="client1"><span><strong>Cliente: </strong></span>{{cliente}}</td>
                    </tr>
                </table>
                <table class="nav-contract-actions1">
                    <tr>
                        <td class="celda-actions"><ion-icon name="checkmark-circle" class="approve-svg" {{#if ../formData.showClosed}}style="visibility:hidden;"{{else}}{{#if allowApprove}}{{else}}style="visibility:hidden;"{{/if}}{{/if}} onclick="showApproveModal(this)"id="openApproveModal-{{_id}}"></ion-icon></td>
                        <td class="celda-actions"><ion-icon name="close-circle" class="reject-svg" {{#if ../formData.showClosed}}style="visibility:hidden;"{{else}}{{#if allowReject}}{{else}}style="visibility:hidden;"{{/if}}{{/if}} onclick="showRejectModal(this)" id="openRejectModal-{{_id}}"></ion-icon></td>
                        <td class="celda-actions"><ion-icon name="trash-outline" class="delete-svg" {{#if ../formData.showClosed}}style="visibility:hidden;"{{else}}{{/if}}  onclick="showDeleteModal(this)" id="openDeleteModal-{{_id}}"></ion-icon></td>
                        <td class="celda-actions"><a  href="/editContracts/{{id}}"><ion-icon name="eye-outline"  class="view-svg"></ion-icon></a></td>
                    </tr>
                </table>
            </div>
            {{/each}}

    </div>
</div>

</div>
{{!-- popups --}}
{{!-- Add / create contracts --}}
<div id="addModal" class="modal">
        <div class="modal-content modal-blue">
            <span id="close-btn-add" class="close-btn" onclick="closeAddNewContractModal()">&times;</span>
                 <h2 class="blue">Upload files</h2>
               
                <form class="add-contracts-form" action="/uploadNewContractToDB" method="post" enctype="multipart/form-data">
                    <input id="file" class="upload-files" type="file" name="excelFile">
                    <label for="file">Please select the Excel file </label>
                    <p class="underline-link note-text">Your file must be in '.xlsx' format.</p>
                    <div id="nameFile"></div>
                    <input id="otherFiles" class="upload-files" type="file" name="otherFiles" multiple>
                    <label for="otherFiles">Please select the rest of the files </label>
                    {{!-- <input type="file" name="otherFiles" multiple> --}}
                    <input class="create-contracts-btn" type="submit" value="Create Contract">
                    
                </form>
        </div>
</div>
{{#each formData.contractList}}
{{!-- Accept contracts --}}
<div id="approveModal-{{_id}}" class="modal">
        <div class="modal-content modal-blue">
            <span id="close-btn-accept-{{_id}}" class="close-btn" onclick="closeApproveModal(this)">&times;</span>
                <h2 class="blue">Accept contract</h2>
                <form method="POST" action="/approveContract/{{_id}}" >
                <div class="select select-box">
                    {{!-- <select name="role"  value="{{#if ../formData.role}}{{../formData.role}}{{/if}}"> --}}
                    <select name="role">
                        {{#if ../formData.roleObj.singleRole}}{{else}}<option hidden selected>Select your Role and Department</option>{{/if}}
                        {{#if ../formData.roleObj.autComercial}}<option value="Comercial - Autorizado">Comercial - Autorizado</option>{{/if}}
                        {{#if ../formData.roleObj.dirComercial}}<option value="Comercial - Director">Comercial - Director</option>{{/if}}
                        {{#if ../formData.roleObj.autControlRiesgos}}<option value="Control de Riesgos - Autorizado">Control de Riesgos - Autorizado</option>{{/if}}
                        {{#if ../formData.roleObj.dirControlRiesgos}}<option value="Control de Riesgos - Director">Control de Riesgos - Director</option>{{/if}}
                        {{#if ../formData.roleObj.autOperaciones}}<option value="Operaciones - Autorizado">Operaciones - Autorizado</option>{{/if}}
                        {{#if ../formData.roleObj.dirOperaciones}}<option value="Operaciones - Director">Operaciones - Director</option>{{/if}}
                        {{#if ../formData.roleObj.autPRL}}<option value="PRL - Autorizado">PRL - Autorizado</option>{{/if}}
                        {{#if ../formData.roleObj.dirPRL}}<option value="PRL - Director">PRL - Director</option>{{/if}}
                    </select>
                </div>
                <textarea  class="textarea-reject" placeholder="Additional information...." rows ="10" name="approveInfo"></textarea>
                <button type="submit" class="btn btn-blue">Approve</button> 
                </form>
        </div>
</div>


{{!-- Reject contracts --}}
<div id="rejectModal-{{_id}}" class="modal">
        <div class="modal-content modal-red">
            <span id="close-btn-reject-{{_id}}" class="close-btn" onclick="closeRejectModal(this)">&times;</span>
                <h2 class="red">Reject contract</h2>
                <form method="POST" action="/rejectContract/{{_id}}" >
                <div class="select select-box">
                    <select name="role">
                         {{#if ../formData.roleObj.singleRole}}{{else}}<option hidden selected>Select your Role and Department</option>{{/if}}
                        {{#if ../formData.roleObj.autComercial}}<option value="Comercial - Autorizado">Comercial - Autorizado</option>{{/if}}
                        {{#if ../formData.roleObj.dirComercial}}<option value="Comercial - Director">Comercial - Director</option>{{/if}}
                        {{#if ../formData.roleObj.autControlRiesgos}}<option value="Control de Riesgos - Autorizado">Control de Riesgos - Autorizado</option>{{/if}}
                        {{#if ../formData.roleObj.dirControlRiesgos}}<option value="Control de Riesgos - Director">Control de Riesgos - Director</option>{{/if}}
                        {{#if ../formData.roleObj.autOperaciones}}<option value="Operaciones - Autorizado">Operaciones - Autorizado</option>{{/if}}
                        {{#if ../formData.roleObj.dirOperaciones}}<option value="Operaciones - Director">Operaciones - Director</option>{{/if}}
                        {{#if ../formData.roleObj.autPRL}}<option value="PRL - Autorizado">PRL - Autorizado</option>{{/if}}
                        {{#if ../formData.roleObj.dirPRL}}<option value="PRL - Director">PRL - Director</option>{{/if}}
                    </select>
                </div>

                <div class="select">
                    <select name="reason">
                        <option hidden selected>Select a reason</option>
                        <option value="Alcance">Alcance</option>
                        <option value="Condiciones de Facturación">Condiciones de Factruación</option>
                        <option value="Coste">Coste</option>
                        <option value="Penalizaciones">Penalizaciones</option>
                        <option value="Tiempo">Tiempo</option>
                        <option value="Otros">Otros</option>
                    </select>
                </div>

                <textarea  class="textarea-reject" placeholder="Message...." rows ="10" name="rejectInfo"></textarea>
                <button type="submit" class="btn btn-red">Reject</button> 
                </form>
        </div>
</div>


{{!-- Delete contracts --}}
<div id="deleteModal-{{_id}}" class="modal">
        <div class="modal-content modal-red">
            <span id="close-btn-delete-{{_id}}" class="close-btn" onclick="closeDeleteModal(this)">&times;</span>
                <h2 class="red">Delete contract</h2>

                <p class="text-popup">Are you sure you wish to delete this file?</p>

                <div class="selectors-options">
                    <div class="accept">
                        <a href="/deleteContract/{{_id}}"><ion-icon name="checkmark-circle" class="approve-svg"></ion-icon></a>
                    </div>
                    <div class="reject">
                        <a href="/displayPendingContracts"><ion-icon name="close-circle" class="reject-svg"></ion-icon></a>
                    </div>

                </div>
        </div>
</div>


{{!-- Details contracts --}}
<div id="detailsModal-{{_id}}">
</div>
{{/each}}


<script>

//ADD NEW CONTRACT MODAL
function showAddNewContractModal(){
    let approveModal = document.getElementById("addModal");
    approveModal.style.display = "block";
    let blurred = document.getElementById("container");
    blurred.classList.add('blurred');
}
function closeAddNewContractModal(){
        let approveModal = document.getElementById("addModal");
        approveModal.style.display = "none";
        let blurred = document.getElementById("container");
        blurred.classList.remove('blurred');
}


//APROVE MODAL
function showApproveModal(element){
    let id =element.id.split("-")[1];
    let approveModal = document.getElementById("approveModal-"+id);
    approveModal.style.display = "block";
    let blurred = document.getElementById("container");
    blurred.classList.add('blurred');
}
function closeApproveModal(element){
    let id = element.id.split('-')[3]
    let approveModal = document.getElementById("approveModal-"+id);
    approveModal.style.display = "none";
    let blurred = document.getElementById("container");
    blurred.classList.remove('blurred');
} 


//REJECT MODAL
function showRejectModal(element){
    let id =element.id.split("-")[1];
    let rejectModal = document.getElementById("rejectModal-"+id);
    rejectModal.style.display = "block";
    let blurred = document.getElementById("container");
    blurred.classList.add('blurred');
}
function closeRejectModal(element){
    let id = element.id.split('-')[3]
    let rejectModal = document.getElementById("rejectModal-"+id);
    rejectModal.style.display = "none";
    let blurred = document.getElementById("container");
    blurred.classList.remove('blurred');
}


//DELETE MODAL
function showDeleteModal(element){
    let id =element.id.split("-")[1];
    let deleteModal = document.getElementById("deleteModal-"+id);
    deleteModal.style.display = "block";
    let blurred = document.getElementById("container");
    blurred.classList.add('blurred');
}
function closeDeleteModal(element){
    let id = element.id.split('-')[3]
    let deleteModal = document.getElementById("deleteModal-"+id);
    deleteModal.style.display = "none";
    let blurred = document.getElementById("container");
    blurred.classList.remove('blurred');
}


//CLOSE MESSAGES BTN
function closeMssgPanel(element){
    console.log(element)
    console.log(element.parentElement)
    //let mssg = document.getElementById('mssg1');
    element.style.display="none";
}


//Active Btn Nav
var header = document.getElementById("second-nav");
var btns = header.getElementsByClassName("link-nav");
for (var i = 0; i < btns.length; i++) {
btns[i].addEventListener("click", function() {
var current = document.getElementsByClassName("link-nav-active");
current[0].className = current[0].className.replace(" link-nav-active", "");
this.className += " link-nav-active";
});
};


//PREVIEW FILE NAME

var fileInput = document.getElementById('file');
var listFile = document.getElementById('nameFile');

fileInput.onchange = function () {
  var files = Array.from(this.files);
  files = files.map(file => file.name);
  listFile.innerHTML = files.join('<br/>');
}

</script>