<div id="container">       
        <div class="second-nav">
            <ul>
                <li><a href="/">Contracts</a></li>
                <li><a href="/alertsContracts">Alerts</a></li>
                <li><a href="" class="disabled">Indicators</a></li>
                <li><a href="" class="disabled">Permissions</a></li>
            </ul>
        </div>

        {{#if errorMsg}}
            <div class="error-message">
                <ul>
                    {{#each errorMsg}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>

            {{else}}
                {{#if noFileSelected}}
                    <div class="error-message">
                        {{noFileSelected}}
                    </div>
                    {{else}}
                        {{#if succesMsg}}
                        <div class="success-message">{{succesMsg}}</div>
                    {{!-- <a href="/">Go to Login</a> --}}
                        {{/if}}
                {{/if}}
        {{/if}}
        {{#if formData.errorMsg}}
             <div class="error-message">
                    {{formData.errorMsg}}
            </div>
        {{/if}}
        {{#if formData.successMsg}}
            <div class="success-message">{{formData.successMsg}}</div>
        {{/if}}

<div class="contracts-container">
    <div class="first-nav1">
    <div class="title-container">
        {{#if formData.showClosed}}
            <a href="/displayPendingContracts"><h2 class="grey" onclick="">Pending contracts</h2></a><h2 class="grey">/</h2><a href="/displayClosedContracts"><h2 class="blue" >Closed contracts</h2></a>
        {{else}}
            <a href="/displayPendingContracts"><h2 class="blue" onclick="">Pending contracts</h2></a><h2 class="grey">/</h2><a href="/displayClosedContracts"><h2 class="grey" >Closed contracts</h2></a>
        {{/if}}
    </div>
        <button id="add-btn" class="btn btn-blue" onclick="showAddNewContractModal()">Add <span class="btn-add">contracts</span></button> 
</div>
    <div class="nav-contract">
        <div class="nav-contract-items">
                    <div class="card-box titulos">PQ</div>
                    <div class="card-box">Amount</div>
                    <div class="card-box nav-item">Commercial</div>
                    <div class="card-box">Client</div>
            
        </div>
        <div class="nav-contract-actions">

                    <div class="actions"{{#if formData.showClosed}}style="visibility:hidden;"{{/if}}>Accept</div>
                    <div class="actions"{{#if formData.showClosed}}style="visibility:hidden;"{{/if}}>Reject</div>
                    <div class="actions"{{#if formData.showClosed}}style="visibility:hidden;"{{/if}}>Delete</div>
                    <div class="actions">Edit</div>
        </div>
    </div>

{{!-- contracts cards here --}}
    <div class="cards">
            {{#each formData.contractList}}
            <div class="contract-card" >
                <div class="nav-contract-items">
                    <div class="card-box">{{pq}}</div>
                    <div class="card-box">{{importe}}</div>
                    <div class="card-box">{{comercial}}</div>
                    <div class="card-box">{{cliente}}</div>
                </div>
                <div class="nav-contract-actions1">
                    {{!-- {{./showClosed}} --}}
                    <img src="images/icons/approve.png" alt="accept" {{#if ../formData.showClosed}}style="visibility:hidden;"{{else}}{{/if}} onclick="showApproveModal(this)"id="openApproveModal-{{_id}}">
                    <img src="images/icons/reject.png" alt="reject"  {{#if ../formData.showClosed}}style="visibility:hidden;"{{else}}{{/if}} onclick="showRejectModal(this)" id="openRejectModal-{{_id}}">
                    <img src="images/icons/delete-Icon.png" alt="delete" {{#if ../formData.showClosed}}style="visibility:hidden;"{{else}}{{/if}}  onclick="showDeleteModal(this)" id="openDeleteModal-{{_id}}">
                    <img src="images/icons/edit.png" alt="edit" onclick="showDetailsModal(this)" id="openDetailsModal-{{_id}}">
                </div>
            </div>
            {{/each}}

  

{{!-- 
    <div class="contract-card">
        <div class="nav-contract-items">
                    <div class="card-box">numero</div>
                    <div class="card-box">nombree</div>
                    <div class="card-box nav-item">textooo</div>
                    <div class="card-box">lo que sea que es</div>
        </div>
        <div class="nav-contract-actions">
                    <img id="accept-btn" src="images/icons/approve.png" alt="accept">
                    <img id="reject-btn" src="images/icons/reject.png" alt="reject">
                    <img id="delete-btn" src="images/icons/delete-Icon.png" alt="delete">
                    <img id="edit-btn" src="images/icons/edit.png" alt="edit">
        </div>
    </div> --}}


    </div>
</div>

</div>
{{!-- popups --}}
{{!-- Add / create contracts --}}
<div id="addModal" class="modal">
        <div class="modal-content modal-blue">
            <span id="close-btn-add" class="close-btn" onclick="closeAddNewContractModal()">&times;</span>
                 <h2 class="blue">Upload files</h2>
               
                <form class="add-contracts-form" action="/uploadNewContractToDB" method="post" enctype="multipart/form-data">
                    <input id="file" class="upload-files" type="file" name="excelFile">
                    <label for="file">Please select the Excel file </label>
                    <p class="underline-link note-text">Your file must be in '.xlsx' format.</p>
                    <input id="otherFiles" class="upload-files" type="file" name="otherFiles" multiple>
                    <label for="otherFiles">Please select the rest of the files </label>
                    {{!-- <input type="file" name="otherFiles" multiple> --}}
                    <input class="create-contracts-btn" type="submit" value="Create Contract">
                    
                </form>
        </div>
</div>
{{#each formData.contractList}}
{{!-- Accept contracts --}}
<div id="approveModal-{{_id}}" class="modal">
        <div class="modal-content modal-blue">
            <span id="close-btn-accept-{{_id}}" class="close-btn" onclick="closeApproveModal(this)">&times;</span>
                <h2 class="blue">Accept contract</h2>
                <form method="POST" action="/approveContract/{{_id}}" >
                <div class="select select-box">
                    {{!-- <select name="role"  value="{{#if ../formData.role}}{{../formData.role}}{{/if}}"> --}}
                    <select name="role">
                        {{#if ../formData.roleObj.singleRole}}{{else}}<option hidden selected>Select your Role and Department</option>{{/if}}
                        {{#if ../formData.roleObj.autComercial}}<option value="Comercial - Autorizado">Comercial - Autorizado</option>{{/if}}
                        {{#if ../formData.roleObj.dirComercial}}<option value="Comercial - Director">Comercial - Director</option>{{/if}}
                        {{#if ../formData.roleObj.autControlRiesgos}}<option value="Control de Riesgos - Autorizado">Control de Riesgos - Autorizado</option>{{/if}}
                        {{#if ../formData.roleObj.dirControlRiesgos}}<option value="Control de Riesgos - Director">Control de Riesgos - Director</option>{{/if}}
                        {{#if ../formData.roleObj.autOperaciones}}<option value="Operaciones - Autorizado">Operaciones - Autorizado</option>{{/if}}
                        {{#if ../formData.roleObj.dirOperaciones}}<option value="Operaciones - Director">Operaciones - Director</option>{{/if}}
                        {{#if ../formData.roleObj.autPRL}}<option value="PRL - Autorizado">PRL - Autorizado</option>{{/if}}
                        {{#if ../formData.roleObj.autPRL}}<option value="PRL - Director">PRL - Director</option>{{/if}}
                    </select>
                </div>
                <textarea  class="textarea-reject" placeholder="Additional information...." rows ="10" name="approveInfo"></textarea>
                <button type="submit" class="btn btn-blue">Approve</button> 
                </form>
        </div>
</div>

{{!-- Reject contracts --}}
<div id="rejectModal-{{_id}}" class="modal">
        <div class="modal-content modal-red">
            <span id="close-btn-reject-{{_id}}" class="close-btn" onclick="closeRejectModal(this)">&times;</span>
                <h2 class="red">Reject contract</h2>
                <form method="POST" action="/rejectContract/{{_id}}" >
                <div class="select select-box">
                    <select name="role">
                         {{#if ../formData.roleObj.singleRole}}{{else}}<option hidden selected>Select your Role and Department</option>{{/if}}
                        {{#if ../formData.roleObj.autComercial}}<option value="Comercial - Autorizado">Comercial - Autorizado</option>{{/if}}
                        {{#if ../formData.roleObj.dirComercial}}<option value="Comercial - Director">Comercial - Director</option>{{/if}}
                        {{#if ../formData.roleObj.autControlRiesgos}}<option value="Control de Riesgos - Autorizado">Control de Riesgos - Autorizado</option>{{/if}}
                        {{#if ../formData.roleObj.dirControlRiesgos}}<option value="Control de Riesgos - Director">Control de Riesgos - Director</option>{{/if}}
                        {{#if ../formData.roleObj.autOperaciones}}<option value="Operaciones - Autorizado">Operaciones - Autorizado</option>{{/if}}
                        {{#if ../formData.roleObj.dirOperaciones}}<option value="Operaciones - Director">Operaciones - Director</option>{{/if}}
                        {{#if ../formData.roleObj.autPRL}}<option value="PRL - Autorizado">PRL - Autorizado</option>{{/if}}
                        {{#if ../formData.roleObj.autPRL}}<option value="PRL - Director">PRL - Director</option>{{/if}}
                    </select>
                </div>

                <div class="select">
                    <select name="reason">
                        <option hidden selected>Select a reason</option>
                        <option value="Alcance">Alcance</option>
                        <option value="Condiciones de Facturación">Condiciones de Factruación</option>
                        <option value="Coste">Coste</option>
                        <option value="Penalizaciones">Penalizaciones</option>
                        <option value="Tiempo">Tiempo</option>
                        <option value="Otros">Otros</option>
                    </select>
                </div>

                <textarea  class="textarea-reject" placeholder="Message...." rows ="10" name="rejectInfo"></textarea>
                <button type="submit" class="btn btn-red">Reject</button> 
                </form>
        </div>
</div>

{{!-- Delete contracts --}}
<div id="deleteModal-{{_id}}" class="modal">
        <div class="modal-content modal-red">
            <span id="close-btn-delete-{{_id}}" class="close-btn" onclick="closeDeleteModal(this)">&times;</span>
                <h2 class="red">Delete contract</h2>

                <p class="text-popup">Are you sure you wish to delete this file?</p>

                <div class="selectors-options">
                    <div class="accept">
                        <a href="/deleteContract/{{_id}}"><img src="images/icons/approve.png" alt="reject" onclick=""></a>
                    </div>
                    <div class="reject">
                        <a href="/displayPendingContracts"><img src="images/icons/reject.png" alt="accept" onclick=""></a>
                    </div>

                </div>
        </div>
</div>
{{!-- Details contracts --}}
<div id="detailsModal-{{_id}}" class="modal">

</div>
{{/each}}


<script>

//ADD NEW CONTRACT MODAL
function showAddNewContractModal(){
    let approveModal = document.getElementById("addModal");
    approveModal.style.display = "block";
    let blurred = document.getElementById("container");
    blurred.classList.add('blurred');
}
function closeAddNewContractModal(){
        let approveModal = document.getElementById("addModal");
        approveModal.style.display = "none";
        let blurred = document.getElementById("container");
        blurred.classList.remove('blurred');
}

//APROVE MODAL
function showApproveModal(element){
    let id =element.id.split("-")[1];
    let approveModal = document.getElementById("approveModal-"+id);
    approveModal.style.display = "block";
    let blurred = document.getElementById("container");
    blurred.classList.add('blurred');
}
function closeApproveModal(element){
    let id = element.id.split('-')[3]
    let approveModal = document.getElementById("approveModal-"+id);
    approveModal.style.display = "none";
    let blurred = document.getElementById("container");
    blurred.classList.remove('blurred');
} 

//REJECT MODAL
function showRejectModal(element){
    let id =element.id.split("-")[1];
    let rejectModal = document.getElementById("rejectModal-"+id);
    rejectModal.style.display = "block";
    let blurred = document.getElementById("container");
    blurred.classList.add('blurred');
}
function closeRejectModal(element){
    let id = element.id.split('-')[3]
    let rejectModal = document.getElementById("rejectModal-"+id);
    rejectModal.style.display = "none";
    let blurred = document.getElementById("container");
    blurred.classList.remove('blurred');
}
//DELETE MODAL
function showDeleteModal(element){
    let id =element.id.split("-")[1];
    let deleteModal = document.getElementById("deleteModal-"+id);
    deleteModal.style.display = "block";
    let blurred = document.getElementById("container");
    blurred.classList.add('blurred');
}
function closeDeleteModal(element){
    let id = element.id.split('-')[3]
    let deleteModal = document.getElementById("deleteModal-"+id);
    deleteModal.style.display = "none";
    let blurred = document.getElementById("container");
    blurred.classList.remove('blurred');
}



</script>