<div id="container">       
    <div class="second-nav">
        <ul>
            <li><a href="/">Contracts</a></li>
            <li><a href="/alertsContracts">Alerts</a></li>
            <li><span><a href="" class="disabled">Indicators</a></span></li>
            <li><span><a href="" class="disabled">Permissions</a></span></li>
        </ul>
    </div>
</div>

<div class="alertas-container">
    <div class="nav-alertas" >
        <h2 class="black">Change Password</h2>
        <a href="/profile" ><img id="back-btn" src="/images/icons/back-btn.png"></a>
    </div>
</div>

<form class="bg-change-pass login-container" action="/profile/uploadNewPassword" method="POST"> 
    <input type="password" placeholder="Introduce the current password" name="currentPass" value="{{#if formData.currentPass}}{{formData.currentPass}}{{/if}}">
    <input type="password" placeholder="Introduce the new password" name="newPass" value="{{#if formData.newPass}}{{formData.newPass}}{{/if}}">
    <input type="password" placeholder="Repeat the new password" name="repeatedPass" value="{{#if formData.repeatedPass}}{{formData.repeatedPass}}{{/if}}">
    <button class="btn btn-blue" type="submit">Save </button>

    <!-- verification messages -->
    {{#if successMsg}}<div class="success-message">{{successMsg}}</div>{{/if}}
    {{#if errorMsg}}<div class="error-message">{{errorMsg}}</div>{{/if}} 
    {{#if formData.errorMsg}}<div class="error-message"><ul>{{#each formData.errorMsg}}<li>{{this}}</li>{{/each}}</ul></div>{{/if}} 
</form>